.navbar-logo {
    width: 82px;
    height: auto;
    align-self: center;
    padding: 30px;
    max-width: 100px;
}

.navbar {
    height: 80px;
    margin: -10px;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
}

.hero {
    display: flex;
    flex-direction: column;
}

.photo-grid {
    align-self: center;
    width: 71%;
    height: auto;
    padding-top: 40px;
}

.header {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    align-self: flex-start;
    padding-left: 36px;
    width: 347px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sub-header {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
    align-self: flex-start;
    padding-left: 36px;
    width: 320px;
    margin-top: 0px;
    margin-bottom: 60px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 36px;
    flex: 0 0 auto;
}

.card-picture {
    border-radius: 9px;
    height: 300px;
}

.status {
    width: 61px;
    height: 20px;
    border-radius: 2px;
    background-color: white;
    font-family: 'Poppins';
    font-size: 10.24px;
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 38px;
    margin-top: -2px;
}

.caption {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 12px;
    padding-bottom: 30px;
    text-align: middle;
}

.info {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.info > img {
    width: 12px;
    height: 12px;
    padding-right: 2px;
}

.info > span {
    padding-right: 2px;
}

.location {
    color: #918E9B;
}

.experience-name {
    padding-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.money-number {
    font-weight: 600;
}

